
@{
    ViewBag.Title = "Solicitudes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Solicitudes</h2>


<div class="container">

    <table class="striped">
        <thead>
            <tr>
                <th>Nombre de solicitante</th>
                <th>Proceso</th>
                <th>Subproceso</th>
                <th>
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @for (int i = 1; i <= 3; i = i + 1)
            {

                <tr>
                    <td>Dab @i</td>
                    <td>Proceso @i</td>
                    <td>Subproceso @i</td>
                    <td> <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">@i</i></a></td>
                    <td><a class="waves-effect waves-light btn">Gestionar</a></td>
                </tr>
            }
        </tbody>
    </table>




</div>
