
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="row center-align valign-wrapper"style="height:100%;" >
        <div class="col s12" style="height:100%;">
            <form action="/Form/FormOne" method="post" style="max-width: 500px;position:absolute;left:0; right:0; margin:0 auto;  top: 50%; transform: translateY(-50%);">
                <input placeholder="Usuario" type="text" name="usuario" />    
                <input placeholder="Contraseña" type="text" name="contrasenna" />
                <input class="btn waves-effect waves-light" type="submit" name="boton" value="Iniciar Sesion"/>
            </form>
        </div>
    </div>
